<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="URL" value="https://MyAccount.i.tgcloud.io" />
    <add key="GraphName" value="MyGraph" />
    <add key="UserName" value="tigergraph" />
    <add key="PWD" value="tigergraph" />
    <add key="Token" value="ulaidb8ipgakpanihenvoc1eqbqcxxxx" />
    <add key="Secret" value="vho11f62l307ts0hbn5eh5nu92tbxxxx" />
    <add key="RESTppPort" value="9000" />
    <add key="GsPort" value="14240" />
    <add key="TokenExpiration" value="1594273235" />
    <add key="LifeTime" value="2592000" />
  </appSettings>
</configuration>