<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="URL" value="https://nwis-recommend.i.tgcloud.io" />
    <add key="GraphName" value="Recommender" />
    <add key="UserName" value="tigergraph" />
    <add key="PWD" value="tigerRocks1" />
    <add key="Token" value="sdcmvl2ee1q7ecr60aafti98seng4r9n" />
    <add key="Secret" value="vp3mi4u4j1aghvjpeh5cf8247jt45hf0" />
    <add key="RESTppPort" value="9000" />
    <add key="GsPort" value="14240" />
    <add key="TokenExpiration" value="1595614069" />
    <add key="LifeTime" value="2592000" />
  </appSettings>
<!--
  <appSettings>
    <add key="URL" value="https://nwis-recommend.i.tgcloud.io" />
    <add key="GraphName" value="Recommender" />
    <add key="UserName" value="tigergraph" />
    <add key="PWD" value="tigerRocks1" />
    <add key="Token" value="3lr07fhn11jurjq8h9kbflmn363lh2o1" />
    <add key="Secret" value="375r3sfgp1live90qf4omq5k7plr34ru" />
    <add key="RESTppPort" value="9000" />
    <add key="GsPort" value="14240" />
    <add key="TokenExpiration" value="1594273235" />
    <add key="LifeTime" value="2592000" />
  </appSettings>
-->

</configuration>