<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key="URL" value="http://50.210.211.68" />
    <add key="GraphName" value="wtapp" />
    <add key="UserName" value="tigergraph2" />
    <add key="PWD" value="tigergraph" />
    <add key="Token" value="m0qsg16alp7du7562cojph27m6elke04" />
    <add key="Secret" value="bs0vfs6jjk38232q08mv52b3afalpgms" />
    <add key="RESTppPort" value="9000" />
    <add key="GsPort" value="14240" />
    <add key="TokenExpiration" value="1594273235" />
    <add key="LifeTime" value="2592000" />
  </appSettings>

  
  <!--<appSettings>
    <add key="URL" value="http://50.210.211.68" />
    <add key="GraphName" value="connectivity" />
    <add key="UserName" value="tigergraph" />
    <add key="PWD" value="tigerRocks1" />
    <add key="Token" value="ulaidb8ipgakpanihenvoc1eqbqcfeeq" />
    <add key="Secret" value="vho11f62l307ts0hbn5eh5nu92tb7kkl" />
    <add key="RESTppPort" value="9000" />
    <add key="GsPort" value="14240" />
    <add key="TokenExpiration" value="1594273235" />
    <add key="LifeTime" value="2592000" />
  </appSettings>-->



</configuration>